<div class="col-md-12 col-sm-12 col-xs-12 offset-md-0 mt-5">
    <nav class="navbar">
        <a class="navbar-brand" style="float: left;" routerLink="/viewCompanyDetails">List All Companies</a>
        <a class="navbar-brand" style="float: right;" (click)="logout()">Logout</a>
    </nav>
</div>

<div *ngIf="errorMessage" class="alert alert-danger col-md-12 col-sm-12 col-xs-12 offset-md-0 mt-2">{{errorMessage}}</div>
<div *ngIf="message" class="alert alert-success col-md-12 col-sm-12 col-xs-12 offset-md-0 mt-2">{{message}}</div>
<div class="col-md-5 col-sm-12 col-xs-12 offset-md-2 mt-5">
    <div class="reg-page col-md-12 col-sm-12 col-xs-12 offset-md-5 mt-5">
        <div class="form">
            <form name="registerForm" class="reg-form" #r="ngForm">
                <h2 class="text-center">Enter Branch details here !!</h2>
                <div class="form-group col-md-12  col-sm-12 col-xs-12" id="addCompany">
                    <label class="col-md-12 col-sm-12 col-xs-12 text-left">Branch ID: </label>
                    <div style="float: left;width: 70%;"><input type="text" name="id" id="id"
                            class="form-control" [(ngModel)]="company.branchId" #branchId="ngModel" required />
                    </div>
                    <div style="float: right;width: 25%;"><button (click)="getCompanyDetailsById()"
                            class="btn btn-primary">SEARCH</button></div>
                    <div style="width: 75%;" *ngIf="!branchId.valid && branchId.touched" class="error-msg">Company Code is
                    required!</div>
                </div>
                <div class="form-group col-md-12  col-sm-12 col-xs-12">
                    <label class="col-md-12 col-sm-12 col-xs-12 text-left">Branch Name: </label>
                    <input type="text" name="branchName" id="branchName" class="form-control"
                        [(ngModel)]="company.branchName" #branchName="ngModel" required pattern="^[a-zA-Z ]*$" />
                    <div *ngIf="!branchName.valid && branchName.touched" class="error-msg">BranchName  is
                        required and can contain only Alphabets and space</div>
                </div>
                
                

                <div class="form-group col-md-12  col-sm-12 col-xs-12">
                    <label class="col-md-12 col-sm-12 col-xs-12 text-left">contact: </label>
                    <input type="text" name="contact" id="contact" class="form-control"
                        [(ngModel)]="company.contact" #contact="ngModel" required
                        pattern="^[0-9.]{12}$" />
                    <div *ngIf="!contact.valid && contact.touched" class="error-msg">contact is required</div>
                </div>
                <div class="form-group col-md-12  col-sm-12 col-xs-12">
                    <label class="col-md-12 col-sm-12 col-xs-12 text-left">Company Website: </label>
                    <input type="text" name="website" id="website" class="form-control"
                        [(ngModel)]="company.website" #website="ngModel" required
                        pattern="^(http[s]?://){0,1}(www.){0,1}[a-zA-Z0-9.-]+.[a-zA-Z]{2,5}[.]{0,1}" >
                    <div *ngIf="!website.valid && website.touched" class="error-msg">Company
                        Website is required and should be valid</div>
                </div>

                <div class="form-group col-md-12  col-sm-12 col-xs-12">
                    <label class="col-md-12 col-sm-12 col-xs-12 text-left">email: </label>
                    <input type="text" name="email" id="email" class="form-control"
                        [(ngModel)]="company.email" #email="ngModel" required >
                    <div *ngIf="!website.valid && website.touched" class="error-msg">Email
                        required</div>
                </div>

                <div class="form-group  col-md-12  col-sm-12 col-xs-12">
                    <div class="row">
                    <label class="col-md-12 col-sm-12 col-xs-12 text-left">Place: </label>
                     <div *ngFor="let packagesDto of company.packagesDto; let i = index">

                        <select name="place" id="place" class="form-control" [(ngModel)]="packagesDto.place" #place="ngModel">  
                            <option disabled>Select place</option>  
                            <option>Choose place</option>  
                            <option *ngFor="let place of placeList">{{place}}</option>  
                        </select> 
                        
                    <div *ngIf="!packagesDto.place.valid && packagesDto.place.touched" class="error-msg">place is required</div>
                    </div>
                </div>
            

                <!-- <div class="form-group col-md-6  col-sm-12 col-xs-12"> -->
                    <label class="col-md-12 col-sm-12 col-xs-12 text-left">Tariff: </label>
                    <div *ngFor="let packagesDto of company.packagesDto; let i = index">

                    <input type="text" name="tariff" id="tariff" class="form-control"
                        [(ngModel)]="packagesDto.tariff" #tariff="ngModel" required >
                        <div *ngIf="!website.valid && website.touched" class="error-msg">Tariff
                            required</div>
                        </div>
                </div>
                <!-- </div> -->

               
        
                <div class="updateBtn">
                    <button (click)="r.form.valid && onSubmit()" class="btn btn-success">REGISTER</button>
                </div>
                <div class="form-group">
                    <p class="message">Want to view all Branch details?<a routerLink="/viewCompanyDetails">List All
                            Companies</a></p>
                </div>
            </form>
        </div>
    </div>